@import url("https://fonts.googleapis.com/css2?family=Festive&family=Henny+Penny&display=swap");

:root {
  --fontCharacter1: "Festive", cursive;
  --fontCharacter2: "Henny Penny", cursive;
}

.about {
  position: relative;
  background: #1f1c2c;
  background: -webkit-linear-gradient(to right, #928dab, #1f1c2c);
  background: linear-gradient(to right, #928dab, #1f1c2c);
}

.contentAbout {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  left: calc(50% + 50px);
  top: 50%;
  transform: translate(-50%, -50%);
  height: 600px;
  width: 90vw;
}

.contentCard {
  position: relative;
  width: 33%;
  height: 100%;
  perspective: 1000px;
}

.contentCard:not(:last-child) {
  margin-right: 100px;
}

.card {
  position: absolute;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.6s linear;
}

.front {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

.cardHover {
  transform: rotateY(180deg);
}

.front.frontAbout {
  background-image: url("../asset/about.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.front p {
  font-family: var(--fontCharacter1);
  font-family: var(--fontCharacter2);
  color: white;
  font-size: 2.5em;
  position: absolute;
  top: 30px;
  left: 50%;
  margin: 0;
  transform: translateX(-50%);
  pointer-events: none;
}

.front.frontSkill {
  background-image: url("../asset/skills.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.front.frontSpareTime {
  background-image: url("../asset/hobby.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: 10%;
}

.back {
  font-family: var(--fontCharacter1);
  font-family: var(--fontCharacter2);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(-180deg);
  background-image: url("../asset//brick.jpg");
  background-size: cover;
  animation-name: elevator;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.back::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: -1;
}

.back_content {
  width: 100%;
  height: 60%;
  position: relative;
  display: grid;
  grid-template-columns: 10% repeat(3, 1fr) 10%;
  grid-template-rows: 2fr auto;
  justify-items: center;
}

.back_content h2 {
  font-size: 2.8em;
  text-align: center;
  grid-column: 2/5;
  grid-row: 1/2;
  align-self: center;
}

.back_content a {
  font-size: 3.7em;
  color: #000000;
  position: relative;
  height: 59.19px;
}

a span {
  position: absolute;
  top: -40px;
  left: -40%;
  font-size: 20px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  color: transparent;
  pointer-events: none;
}

.back_content svg {
  transition: filter 0.5s ease-in-out;
}

.back_content svg:hover {
  filter: drop-shadow(-1rem -1rem 0.2rem rgba(0, 0, 0, 0.5));
  transition: filter 0.5s ease-in-out;
}

.back_content a:hover span {
  text-shadow: 0rem 0rem 0.13rem rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.back_content a:first-of-type {
  grid-row: 2/3;
  grid-column: 2/3;
}

.back_content a:nth-of-type(2) {
  grid-row: 2/3;
  grid-column: 3/4;
}
.back_content a:last-of-type {
  grid-row: 2/3;
  grid-column: 4/5;
}

.titleIcon {
  font-size: 3.5em;
  text-align: center;
}

.iconsContent {
  display: flex;
  flex-wrap: wrap;
  margin: 0 10px;
  justify-content: center;
}

.iconImage {
  filter: grayscale(100%);
  position: relative;
  width: 64px;
  height: 64px;
  margin: 20px 10px;
  transition: all 0.4s ease-in-out;
}

.iconImage img {
  width: 100%;
  height: 100%;
}
.iconImage:hover {
  filter: grayscale(0%);
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.iconImage span {
  position: absolute;
  top: -35%;
  left: 50%;
  transform: translateX(-50%);
  opacity: 0;
  pointer-events: none;
  color: transparent;
  transition: all 0.4s ease-in-out;
  letter-spacing: 1.2px;
  font-size: 0.8em;
}

.iconImage img:hover + span {
  text-shadow: 0rem 0rem 0.1rem rgba(0, 0, 0, 0.7);
  opacity: 1;
  transition: all 0.4s ease-in-out;
}

.back2 {
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
  font-family: var(--fontCharacter1);
  font-family: var(--fontCharacter2);
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
  transform: rotateY(-180deg);
  background-image: url("../asset//brick.jpg");
  background-size: cover;
  animation-name: elevator;
  animation-duration: 6s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

.btn {
  padding: 10px 15px;
  display: inline-block;
  border-radius: 10px;
  cursor: pointer;
  background-color: #ffffff;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2em;
  transition: all 0.4s linear;
}

.btn:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: #ffffff;
  transition: all 0.4s linear;
}

.projectContent_simple ul span {
  display: inline-block;
  width: 250px;
  text-align: start;
}

.projectContent_simple a {
  outline: none;
  text-decoration: none;
  color: #000000;
}

.projectContent_simple h3 {
  margin: 0;
  font-size: 3em;
  text-align: center;
  padding-top: 75px;
}

.projectContent_simple ul {
  text-align: center;
  padding-left: 80px;
}

.projectContent_simple ul li {
  font-size: 1.5em;
  list-style-position: outside;
  padding-top: 15px;
  list-style-image: url("../asset/right-arrow.png");
  letter-spacing: 1.2px;
}

.projectContent_simple {
  position: relative;
  scroll-snap-align: start;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}

.downArrowRight {
  position: absolute;
  bottom: 5%;
  right: 10%;
  animation-name: downward;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.downArrowLeft {
  position: absolute;
  bottom: 5%;
  left: 10%;
  animation-name: downward;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes elevator {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -600px;
  }
}

@keyframes downward {
  0%,
  100% {
    transform: translateY(-50%);
  }

  50% {
    transform: translateY(0%);
  }
}
