:root {
  --backgroundNav: #485696;
}
@keyframes pulse {
  0%,
  100% {
    -webkit-box-shadow: 0px 0px 20px 15px rgba(88, 0, 23, 1);
    -moz-box-shadow: 0px 0px 20px 15px rgba(88, 0, 23, 1);
    box-shadow: 0px 0px 20px 15px rgba(88, 0, 23, 1);
  }

  50% {
    -webkit-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    -moz-box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
    box-shadow: 0px 0px 20px 0px rgba(66, 68, 90, 1);
  }
}

/* .home {
  position: sticky;
  left: 0;
  top: 0;
} */

.nav {
  height: 100vh;
  width: 100px;
  position: relative;
  left: 0;
  top: 0;
  background-color: var(--backgroundNav);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  outline: none;
  position: relative;
  width: 60px;
  height: 60px;
  line-height: 30px;
}

.nav a > svg {
  opacity: 1;
  transition: opacity 0.5s;
}

.nav a > svg:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.orderIcon {
  position: absolute;
  border-radius: 50%;
  font-size: 2.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.unOrderIcon {
  position: absolute;
  border-radius: 50%;
  font-size: 2.5em;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  -webkit-box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);
  -moz-box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);
  box-shadow: 0px 0px 30px 0px rgba(66, 68, 90, 1);
}

.modalLocation {
  width: 125px;
  height: 50px;
  background-color: var(--backgroundNav);
  border-radius: 5px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -250%;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: right;
  visibility: visible;
  opacity: 1;
  z-index: 2;
  clip-path: polygon(
    40% 0%,
    40% 20%,
    100% 20%,
    100% 80%,
    40% 80%,
    40% 100%,
    0% 50%
  );
  transition: visibility 0s, opacity 0.4s linear;
}

.modalLocaionNan {
  visibility: hidden;
  opacity: 0;
}

.modalName {
  color: #c5c5c5;
  padding-right: 10px;
}

.burgerMenuContainer {
  display: none;
  position: absolute;
  height: 40px;
  width: 40px;
  top: 20px;
  left: 20px;
  z-index: 1;
  transition: top 0.4s ease-in-out;
}

.burgerMenuContainerOpen {
  transition: top 0.4s ease-in-out;
  top: 80px;
}

.burgerMenuContent {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.burger {
  width: 30px;
  height: 3.5px;
  background-color: #ffffff;
  border-radius: 4px;
  z-index: 2;
  transition: all 0.4s ease-in-out;
}

.burgerOpen {
  background-color: transparent;
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 3.5px;
  z-index: 2;
}

.burgerOpen::before {
  content: "";
  position: absolute;
  top: 4px;
  background-color: #ffffff;
  transform: rotate(45deg) translate(5px, 16px);
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 3.5px;
  z-index: 2;
}
.burgerOpen::after {
  content: "";
  position: absolute;
  bottom: 4px;
  background-color: #ffffff;
  transform: rotate(-45deg) translate(5px, -16px);
  transition: all 0.4s ease-in-out;
  width: 30px;
  height: 3.5px;
  z-index: 2;
}

.burger::before {
  content: "";
  position: absolute;
  top: 4px;
  width: 30px;
  height: 3.5px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
}
.burger::after {
  content: "";
  position: absolute;
  bottom: 4px;
  width: 30px;
  height: 3.5px;
  border-radius: 4px;
  background-color: #ffffff;
  transition: all 0.4s ease-in-out;
}

@media (max-width: 900px) {
  .nav {
    width: 70px;
  }
  .orderIcon,
  .unOrderIcon {
    font-size: 1.5em;
  }
}

@media (max-width: 500px), (min-width: 501px) and (max-height: 600px) {
  .nav {
    height: 70px;
    width: 100vw;
    position: absolute;
    left: 0;
    top: -100px;
    background-color: var(--backgroundNav);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    transition: top 0.4s ease-in-out;
  }
  .burgerMenuContainer {
    display: block;
    z-index: 2;
  }

  .navActive {
    top: 0;
  }
}

@media (max-width: 270px) {
  .modalLocation {
    display: none;
  }
  .orderIcon,
  .unOrderIcon {
    font-size: 0.9em;
  }
  .burger,
  .burger::after,
  .burger::before,
  .burgerOpen,
  .burgerOpen::after,
  .burgerOpen::before {
    width: 20px;
    height: 2.5px;
  }
}
