@keyframes pulse {
  0%,
  100% {
    font-size: 1em;
  }
  50% {
    font-size: 2em;
  }
}

.nav {
  height: 100vh;
  width: 100px;
  position: relative;
  left: 0;
  top: 0;
  background-color: #485696;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.nav a {
  outline: none;
}

.nav a > svg {
  opacity: 1;
  transition: opacity 0.5s;
}

.nav a > svg:hover {
  opacity: 0.6;
  transition: opacity 0.5s;
}

.home {
  display: flex;
}

.haha {
  animation-name: pulse;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
