@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@500&display=swap");

.gameLive {
  width: 100%;
  align-self: center;
}

.infoUser {
  font-family: "Orbitron", sans-serif;
  position: absolute;
  top: 0;
  right: 0;
  width: calc(100vw - 100px);
  height: 100px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.infoUser div:first-child {
  align-self: flex-end;
  padding-left: 50px;
}

.infoUser div:last-child {
  align-self: flex-end;
  padding-right: 50px;
}

.infoUser div:last-child span {
  display: inline-block;
  max-width: 60px;
  padding-left: 3px;
}

.gameContent {
  box-sizing: border-box;
  margin: 100px auto;
  max-width: 85vw;
  background-color: #000000;
  padding: 15px;
}

.categoryContent {
  height: 100px;
  width: 100%;
  background-color: brown;
  display: flex;
  justify-content: space-between;
}

.category {
  align-self: center;
  width: 25%;
  color: #ffffff;
  text-align: center;
  font-size: 1.4em;
}

.questionContent {
  background-color: white;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.questionRow {
  width: 25%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}

.question {
  position: relative;
  background-color: #4040ff;
  margin: 5px;
  text-align: center;
  height: 150px;
  overflow: auto;
}

.emptyQuestions {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  height: 100%;
  width: 100%;
  padding: 0 20px;
}

.emptyQuestions p {
  font-size: 2em;
  color: #ffffff;
  text-align: center;
}

.question > p {
  padding: 0 10px;
}

.question:first-child {
  margin-top: 5px;
}
.question:last-child {
  margin-bottom: 5px;
}

.scoreBoard {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #4040ff;
  cursor: pointer;
}

.score {
  color: #ffffff;
  font-size: 2em;
  pointer-events: none;
}

.btnLive {
  display: inline-block;
  padding: 5px 15px;
  border-radius: 5px;
  border: none;
  margin-bottom: 5px;
}

.btnLive:first-of-type {
  margin-right: 3px;
}

.modalWindow {
  position: absolute;
  left: 50%;
  top: 50px;
  width: 500px;
  max-width: 100%;
  transform: translate(-50%);
  background-color: black;
  color: #ffffff;
}

.modalWindow .modalScore {
  border:1px solid #ffffff;
  width: 50%;
  margin:0 auto;
}

.modalWindow h4 {
  text-align: center;
}

.modalWindow p {
  text-align: center;
}

.modalWindow div div {
  position: relative;
  text-align: center;
}

.modalWindow button {
  padding:7px 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 5px;
  margin-top:5px;
}

.modalScore span {
  font-weight: 600;
}

.modalWindow button:first-child {
  margin-right:5px;
}


/* media queries */

@media (max-width: 900px) {
  .infoUser {
    width: calc(100vw - 70px);
  }
  .category {
    font-size: 1em;
  }
  .score {
    font-size: 1.5em;
  }
  .question > p {
    font-size: 0.8em;
  }
  .btnLive {
    padding: 3px 10px;
    font-size: 0.8em;
    border-radius: 5px;
    border: none;
    margin-bottom: 5px;
  }
  .emptyQuestions p {
    font-size: 1.5em;
  }
}

@media (max-width: 600px) {
  .btnLive:first-of-type {
    margin-right: 0;
    display: block;
    margin: 0 auto;
    margin-bottom: 3px;
  }
}

@media (max-width: 500px) {
  .gameLive {
    overflow: auto;
  }
  .infoUser {
    width: 100%;
    font-size: 0.8em;
  }
  .infoUser div:first-child {
    align-self: flex-end;
    padding-left: 5px;
  }

  .infoUser div:last-child {
    align-self: flex-end;
    padding-right: 5px;
  }
  .gameContent {
    max-width: unset;
    width: 350px;
  }
  .categoryContent {
    height: 125px;
  }
  .category {
    font-size: 0.8em;
    transform: rotate(-90deg);
  }
  .score {
    font-size: 1.2em;
  }
  .question {
    height: 100px;
  }
  .question > p {
    font-size: 0.6em;
  }
  .emptyQuestions {
    align-items: stretch;
  }
  .emptyQuestions p {
    font-size: 1em;
  }
}

@media (max-width:200px){
  .infoUser {
    justify-content: center;
}
}
