.location {
  display: flex;
  background: #1d2b64;
  background: -webkit-linear-gradient(to right, #f8cdda, #1d2b64);
  background: linear-gradient(to right, #f8cdda, #1d2b64);
  width: 100%;
}

.content {
  position: relative;
  height: 100vh;
  width: calc(100vw - 100px);
  display: flex;
  justify-content: space-between;
}

.buttonLocation {
  position: relative;
  height: 100%;
  width: 50%;
}

.btn {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  padding: 15px 25px;
  display: block;
  border: none;
  border-radius: 5%;
  font-size: 3em;
  box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}
.btn:enabled:hover {
  cursor: pointer;
  background-color: #c1c1c1;
  color: #fff;
  transition: background-color 0.5s;
}

.mapDiv {
  height: 100%;
  text-align: center;
  font-size: 3em;
  width: 50%;
}

.information {
  max-width: 600px;
  position: relative;
  padding-top: 150px;
  padding-right: 30px;
  margin-left: auto;
  margin-right: auto;
}

.information h2 {
  font-size: 1.5em;
  font-weight: 600;
  font-family: sans-serif;
}

.information span {
  font-size: 1.1em;
  margin: 16px 0;
  font-weight: 600;
  text-align: left;
  width: 300px;
}

.infoBlock {
  font-size: 1.2em;
  display: flex;
  justify-content: space-between;
}

.infoBlock .place {
  align-self: center;
  display: inline-block;
  color: #c10000;
}

.infoBlock .probablyPlace {
  align-self: center;
}

.generate {
  text-align: center;
  padding-top: 20px;
}

.generate .time {
  font-size: 1.3em;
}

.map {
  width: 100%;
  height: 100%;
}

.ol-control .ol-hidden {
  visibility: hidden;
}

@media (max-width: 1400px) {
  .infoBlock {
    padding-left: 30px;
    font-size: 1em;
  }
  .infoBlock p {
    width: 100px;
    margin-right: 50px;
  }
  .information h2 {
    padding-left: 30px;
  }
}

@media (max-width: 1100px) {
  .btn {
    font-size: 2em;
  }
}

@media (max-width: 900px) {
  .content {
    flex-direction: column;
    width: 100%;
  }
  .buttonLocation {
    width: 100%;
    height: 50%;
  }
  .mapDiv {
    width: 100%;
    height: 50%;
  }
  .information {
    padding-top: 50px;
    column-count: 2;
    height: 300px;
    padding-right: 0;
  }
  .information h2 {
    display: none;
  }
}

@media (max-width: 700px) {
  .infoBlock:nth-of-type(1),
  .infoBlock:nth-of-type(2),
  .infoBlock:nth-of-type(3),
  .infoBlock:nth-of-type(4),
  .information .generate {
    display: none;
  }
  .information {
    column-count: auto;
    padding-top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
  .information span {
    width: 100%;
  }
  .infoBlock {
    padding-right: 30px;
  }
}

@media (max-width: 400px) {
  .infoBlock {
    flex-direction: column;
    display: block;
    padding-right: 30px;
  }
  .infoBlock p,
  .infoBlock span {
    width: 100%;
    text-align: center;
    display: inline-block;
    margin-right: 0;
  }
  .btn {
    font-size: 1.2em;
  }
}

@media (max-height: 800px) {
  .information {
    padding-top: 50px;
  }
  .content {
    height: 100%;
    width: 100%;
  }
  .mapDiv {
    height: 100vh;
  }
  .information .generate {
    display: none;
  }
}
