@import url("https://fonts.googleapis.com/css2?family=IM+Fell+English+SC&display=swap");

.speech {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  background: #603813;
  background: -webkit-linear-gradient(to right, #b29f94, #603813);
  background: linear-gradient(to right, #b29f94, #603813);
}

.containerSpeech {
  box-sizing: border-box;
  width: calc(100vw - 100px);
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.title {
  position: relative;
  color: #ffffff;
  font-size: 2em;
  text-transform: uppercase;
  font-family: "IM Fell English SC", serif;
  letter-spacing: 4px;
  line-height: 1.3;
  text-align: center;
}

.contentSpeech {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 700px;
  max-width: 100%;
  height: 65%;
  background: transparent;
  border: none;
  margin-bottom: 100px;
}

.leftWing {
  flex-basis: 60%;
  margin-right: 20px;
  margin-left: 20px;
}

.rightWing {
  flex-basis: 40%;
  margin-left: 20px;
  margin-right: 20px;
}

textarea {
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
}

textarea:focus {
  outline: none;
}

.rightContent {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
  height: 100%;
}

.selected {
  width: 100%;
}

.selected h3 {
  text-align: center;
  font-size: 1.3em;
}

.btn {
  display: inline-block;
  position: relative;
  bottom: 5%;
  height: 50px;
  width: 150px;
  border-radius: 25px;
  font-size: 1.2em;
  text-transform: uppercase;
  font-weight: 600;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border: #603813;
}

.btn:hover {
  cursor: pointer;
}

/* media queries */

@media (max-width: 900px) {
  .containerSpeech {
    width: calc(100vw - 70px);
  }
}

@media (max-width: 700px) {
  .title {
    font-size: 1.5em;
  }
  .selected h3 {
    font-size: 1em;
  }
  .selected {
    font-size: 0.8em;
  }
  .btn {
    height: 45px;
    width: 120px;
    border-radius: 25px;
    font-size: 1em;
  }
}

@media (max-width: 500px) {
  .containerSpeech {
    width: 100%;
  }
  .contentSpeech {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  .title {
    font-size: 1em;
    top: 20px;
  }
  .contentSpeech {
    margin-bottom: 150px;
  }
}

@media (max-height: 600px) {
  .containerSpeech {
    width: 100%;
    height: 500px;
  }
  .contentSpeech {
    margin-bottom: 50px;
  }
  .speech {
    overflow-y: scroll;
  }
  .btn {
    margin-top:20px;
  }
}
