.container {
  position: relative;
  background-color: #191919;
  width: 100%;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  font-size: 2em;
  max-width: 600px;
}

.content p {
  text-align: center;
}

.list {
  padding: 0 40px;
}

.content .firstTwoIcons {
  text-align: center;
  margin-bottom: 60px;
}

.content .lastTwoIcons {
  text-align: center;
  margin: 0 auto;
}

li {
  list-style-type: none;
  padding: 10px;
}

.firstTwoIcons li:first-child::before,
.firstTwoIcons li:nth-child(2)::before {
  content: "👉";
  position: absolute;
  left: 0;
}

.lastTwoIcons li:first-child::before {
  content: "🖖";
  position: absolute;
  transform: rotateY(180deg) translateY(-50%);
  left: 0;
  bottom: 70px;
}
.lastTwoIcons li:last-child::after {
  content: "🖖";
  position: absolute;
  right: 0;
  bottom: 70px;
}

.lastTwoIcons::after {
  content: "...Leonard Nimoy [1931-2015]";
  position: absolute;
  right: -60px;
  bottom: -20px;
  font-size: 0.5em;
}

.meIcon {
  color: #f47a00;
  margin: auto;
  padding: 0 10px;
}

@media (max-width: 1100px) {
  .content {
    font-size: 1.6em;
  }
  /* .lastTwoIcons li:last-child::before {
    left:30px;
  }
  .lastTwoIcons li:last-child::after {
  right:30px;
  } */
}
